<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConStringMaster" value="server=NALINEE; Database=MasterSearch_TH; User Id=search; Password=@dmin123; MultipleActiveResultSets=True;"/>
    <add key="ConStringPermission" value="Server=localhost;UID=gt_apichai;PASSWORD=@dmin123;database=AddressSearch;Max Pool Size=400;Connect Timeout=900"/>
    <add key="SearchDatabase" value="[MasterSearch_TH].[dbo].[Master_Table]"/>
    <add key="URI_address" value="http://localhost:8983/solr/search_thailand_2016_0510/select?q="/>
    <add key="cat_hospital" value="โรงพยาบาล โรงบาล คลินิค"/>
    <add key="cat_education" value="โรงเรียน มหาวิทยาลัย มหาลัย"/>
    <add key="cat_bank" value="ธนาคาร"/>
    <add key="cat_street" value="ถนน"/>
    <add key="cat_fuel" value="ปั้ม"/>
    <add key="cat_hotel" value="โรงแรม รีสอร์ท"/>
    <add key="cat_religion" value="วัด"/>
    <add key="port" value="9993"/>
    <add key="IP_permission" value="::1|61.91.41.106|203.150.230.3|203.150.231.97|203.150.230.76|192.168.1.4|192.168.1.7|192.168.0.6|192.168.0.5|192.168.0.3|192.168.0.2|192.168.0.1|61.91.64.162|61.91.41.138|203.114.98.100|203.114.98.101|203.114.98.102|203.114.98.103|203.114.98.104|203.114.98.105"/>
    <add key="noIP" value="TRUE"/>
    <!--
    <add key="shp_public" value="D:\_2016_data_s\public_a.shp"/>
    <add key="dbf_public" value="D:\_2016_data_s\public_a.dbf"/>
    <add key="shp_admin" value="D:\nut_search\_version4\shp_thai\admin_poly.shp"/>
    <add key="dbf_admin" value="D:\nut_search\_version4\shp_thai\admin_poly.dbf"/>
    -->

    <add key="shp_public" value="D:\index2018\public_201810.shp"/>
    <add key="dbf_public" value="D:\index2018\public_201810.dbf"/>
    

    <add key="shp_admin" value="D:\index2018\public_201810.shp"/>
    <add key="dbf_admin" value="D:\index2018\public_201810.dbf"/>
    
    <add key="shp_hydro_ident" value="D:\index2018\public_201810.shp"/>
    <add key="dbf_hydro_ident" value="D:\index2018\public_201810.dbf"/>
    
    <add key="synoFolder" value="C:\Users\GT_4953\Desktop\synonym"/>

    <add key="SumBuffer" value="200000"/>
    <add key="IdenBuffer" value="150"/>
    <add key="MaxIdenBuffer" value="2000"/>
    
    <add key="MaxReturnSearch" value="50"/>
    <add key="timeout" value="50"/>
    

    <add key="SynoFile" value="D:\syno\synonym.txt"/>
    <add key="ShortFile" value="D:\syno\short_word.txt" />
    <!--"C:\syno\test\short_word.txt"/>-->
    <add key="IPFile" value="D:\syno\ip.txt"/>
    <add key="TokenFile" value="D:\syno\token.txt"/>
    <add key="LogPath" value="D:\syno\"/>
    <add key="DotFile" value="D:\syno\dot_word.txt"/>
    <add key="CatFile" value="D:\syno\text_to_cat.txt"/>
    <add key="BigFile" value="D:\syno\big.txt"/>


    <add key="KeepLog" value="TRUE"/>
    <add key="KeepLog_LatLonR" value="TRUE"/>
    <add key="KeepLog_Admin" value="TRUE"/>
    <add key="KeepLog_Cat" value="TRUE"/>
    <add key="KeepLog_Num" value="TRUE"/>
    
    <add key="KeepLogIdent" value="TRUE"/>
    <add key="KeepLogNid" value="TRUE"/>
    <add key="KeepLogAuto" value="TRUE"/>
    <add key="KeepLogSumPoiByCat" value="TRUE"/>
    <add key="KeepLogSumPOIByLocalCat" value="TRUE"/>
    <add key="KeepLogTotalSearchResult" value="TRUE"/>
    <add key="KeepLogAlongRoute" value="TRUE"/>


    
    
    <add key="IdenBuffer_HydroLtrans" value="10"/>
    <add key="IdenBuffer_Ltrans" value="50"/>
    <add key="IdenBuffer_NearPoint" value="30"/>
    
    <add key="IdenBuffer_NotInAdmin" value="2000"/>

    <!-- Limit -->
    <add key="_AROUTE_MaxReturnSearch" value="20"/>
    <add key="_AROUTE_SUM_OF_DISTANCE" value="50"/>
    <add key="_AROUTE_NEAR_BUFFER" value="1"/>

    <add key="_AROUTE_NEAR_BUFFER_MIN" value="0.2"/>
    <add key="_AROUTE_NEAR_BUFFER_MAX" value="10"/>

    <add key="_AROUTE_IGNORE_CLOSESET" value="NO"/>

    <add key="_AROUTE_Routing_port" value="9994"/>

    <!--routing-->
    <add key="pathCostLength" value="D:\nut_search\svn\Project X\route_from_text_v34_v6_edit_return_service_bird\new routing resource 3_07_2016_complete\output_costs.txt"/>
    <add key="pathDirectLength" value="D:\nut_search\svn\Project X\route_from_text_v34_v6_edit_return_service_bird\new routing resource 3_07_2016_complete\output_direct.txt"/>
    <add key="pathLatLonLength" value="D:\nut_search\svn\Project X\route_from_text_v34_v6_edit_return_service_bird\new routing resource 3_07_2016_complete\output_latllon.txt"/>
    <add key="pathLineIDLength" value="D:\nut_search\svn\Project X\route_from_text_v34_v6_edit_return_service_bird\new routing resource 3_07_2016_complete\output_LineID.txt"/>
    <add key="pathLtranLength" value="D:\nut_search\svn\Project X\route_from_text_v34_v6_edit_return_service_bird\new routing resource 3_07_2016_complete\Ltran_Not_FT.txt"/>
    <add key="pathTurnLength" value="D:\nut_search\svn\Project X\route_from_text_v34_v6_edit_return_service_bird\new routing resource 3_07_2016_complete\TurnTable.txt"/>
    <add key="pathTollRoadLength" value="D:\nut_search\svn\Project X\route_from_text_v34_v6_edit_return_service_bird\new routing resource 3_07_2016_complete\Toll_Road.txt"/>

    <add key="pathCostTime" value="C:\Users\cake\Desktop\finish_test\Time\output_cost_time.txt"/>
    <add key="pathDirectTime" value="C:\Users\cake\Desktop\finish_test\Time\output_direct.txt"/>
    <add key="pathLatLonTime" value="C:\Users\cake\Desktop\finish_test\Time\output_latllon.txt"/>
    <add key="pathLineIDTime" value="C:\Users\cake\Desktop\finish_test\Time\output_LineID.txt"/>
    <add key="pathLtranTime" value="C:\Users\cake\Desktop\finish_test\Time\output_Ltran_time.txt"/>
    <add key="pathTurnTime" value="C:\Users\cake\Desktop\finish_test\Time\TrunTable.txt"/>
    <add key="pathTollRoadTime" value="C:\Users\cake\Desktop\finish_test\Time\Toll_Road.txt"/>

    <add key="PATHSHP" value="D:\nut_search\svn\x\route_from_text_v34_v6_edit_return_service_bird\shap_Ltran_2016_10\L_TRANS.shp"/>
    <add key="PATHDBF" value="D:\nut_search\svn\x\route_from_text_v34_v6_edit_return_service_bird\shap_Ltran_2016_10\L_TRANS.dbf"/>

    <add key="COLUMN_LAT_NAME" value="Lat"/>
    <add key="COLUMN_LON_NAME" value="Long_"/>
    <add key="COLUMN_ID_NAME" value="CustNum"/>


    <add key="USER_ID_DEBUG" value="NostraMap_GT@DebugMode"/>

    <add key="PORT_LOG" value="1234"/>
    <!-- auto complete-->
    <add key="auto_lat" value="13.764955"/>
    <add key="auto_lon" value="100.538362"/>
    <add key="auto_limit_result1" value="3"/>
    <add key="auto_limit_result2" value="3"/>
    <add key="auto_limit_result3" value="3"/>
    <add key="auto_MaxReturn" value="20"/>
    <add key="auto_ConStringAdmin" value="server=localhost; Database=admin_aec; User Id=sa; Password=12091988;"/>
    <add key="auto_TableAdmin" value="th_admin"/>

    <add key="tryAgain" value="2"/>
    <add key="waitTry" value="250"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Search_LandmarkSoap" />
        <binding name="WB_ServiceSoap" />
        <binding name="identSoap" />
        <binding name="SoundexSoap" />
        <binding name="WebService_searchSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Search_LandmarkSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="WB_ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="identSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://search.nostramap.com/SearchIden_TH/search.asmx"
        binding="basicHttpBinding" bindingConfiguration="Search_LandmarkSoap"
        contract="ServiceReference1.Search_LandmarkSoap" name="Search_LandmarkSoap" />
      <endpoint address="http://search.nostramap.com/SearchIden_TH/search.asmx"
        binding="customBinding" bindingConfiguration="Search_LandmarkSoap12"
        contract="ServiceReference1.Search_LandmarkSoap" name="Search_LandmarkSoap12" />
      <endpoint address="http://localhost/WB_WebService_GT/WB_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="WB_ServiceSoap"
        contract="ServiceReference2.WB_ServiceSoap" name="WB_ServiceSoap" />
      <endpoint address="http://localhost/WB_WebService_GT/WB_Service.asmx"
        binding="customBinding" bindingConfiguration="WB_ServiceSoap12"
        contract="ServiceReference2.WB_ServiceSoap" name="WB_ServiceSoap12" />
      <endpoint address="http://search-test.nostramap.com/GeoCoding/MsGeoCoding.asmx"
        binding="basicHttpBinding" bindingConfiguration="identSoap"
        contract="ServiceReference3.identSoap" name="identSoap" />
      <endpoint address="http://search-test.nostramap.com/GeoCoding/MsGeoCoding.asmx"
        binding="customBinding" bindingConfiguration="identSoap12" contract="ServiceReference3.identSoap"
        name="identSoap12" />
      <endpoint address="http://localhost/phogen/Soundex.asmx" binding="basicHttpBinding"
        bindingConfiguration="SoundexSoap" contract="ServiceReference_soundex.SoundexSoap"
        name="SoundexSoap" />
      <endpoint address="http://localhost/TextAnalytic/WebService_search.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService_searchSoap"
        contract="ServiceReference_textAnalytic.WebService_searchSoap"
        name="WebService_searchSoap" />
    </client>
  </system.serviceModel>
</configuration>